<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="site/css/style.css">
</head>
<body>
<!--类似jsp技术-->
<!--要搭配render方法 并且改名-->
<!--当改成hbs以后 其他的路径要改成之前express.static设置的路径-->
<h1>{{caption}}</h1>

<img src="site/images/s1.png">

</body>
</html>